* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--nui-font-family-sans);
  color: var(--nui-color-text-default);
  background: var(--nui-color-surface-default);
}

button,
input,
textarea,
select {
  font: inherit;
}
